---
layout: page
title: d'bänd
permalink: /band/
has_menu_link: true
menu_link_image: /img/nav-band.png
---

{% assign maikusan = site.data.bandmembers.maikusan.name %}
{% assign titan = site.data.bandmembers.titan.name %}
{% assign cmon = site.data.bandmembers.cmon.name %}
{% assign mogria = site.data.bandmembers.mogria.name %}
{% assign dandy = site.data.bandmembers.dandy.name %}
{% assign lenny = site.data.bandmembers.lenny.name %}
{% assign umpa = site.data.bandmembers.umpa.name %}
{% assign bottlee = site.data.bandmembers.bottlee.name %}
{% assign bazil = site.data.bandmembers.bazil.name %}

<div itemscope= itemtype="http://schema.org/MusicGroup">
<div class="band-members" itemscope itemtype="http://schema.org/ItemList">
    <h3 itemprop="name">
        <img src="{{ "/img/guesl-gang.png" | prepend: site.baseurl}}" alt="{{ site.title | sample }} Gang"/>
    </h3>
{% for member in site.data.bandmembers %}
    {% if member[1].active %}
        <div class="band-member" itemprop="itemListElement" itemscope itemtype="http://schema.org/Person">
            <div class="image-box">
                <img class="band-member-portrait" itemprop="image" src="{{site.baseurl}}/img/bandmember-{{member[0]}}.png?v=1" />
            </div>
            <div class="band-member-meta">
                <strong class="band-member-name" itemprop="name">{{member[1].name}}</strong>
                <em class="band-member-role" itemprop="position">{{member[1].role}}</em>
                <span class="band-member-description" itemprop="description">{{member[1].description}}</span>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>

<p itemprop="about">Mir machid schlechte <span itemprop"genre">Grümpel-Punk</span> us Zug.  De Name
isch Programm. Mr wüssid immr nu nid we mr en richtig schriibt, mr hend
keis schwiizerdütsch Wörterbuech gfunde.</p>

<img src="{{site.baseurl}}/img/style-fallen-guessel.png" class="halfsize" />

<h2>Gründigsgschicht</h2> 

<p><span itemprop="name">{{ site.title | sample | capitalize }}</span> hed sich ungefähr im 2015i gründet. Agfange heds demit das
de {{maikusan}} es Agebot füre Bandruum becho hed abr nu kei Band
gha hed. Das Problem hed sich schnell glöst won er sich denn denkt
hed er macht en Punk-Band us lüt wo nüd mit musig z'tue hed, will
schlussendlich au de grössti Vollhonk Power-Chords schiebe cha.</p>

<p>Die initiale 3 Mitglieder {{maikusan}}, {{titan}} und de {{dandy}} hend
sich denn im Bandruum im Kanton Zug igrichtet und afe umeprobiere. Vili
lüt hend de {{dandy}} nie gse und mr munkled inzwüsche das es ihn gar
nid gid, doch de {{dandy}} isch em {{maikusan}} sii fründ.</p>

<p>Später irgendwenn sind de {{cmon}} als Gitarrist und de {{mogria}}
als Bassist au nu dezue gstosse und en gnueg grossi d'band zämecho. Es
sind die erste Lieder gschribe worde we &quot;Kaptalisteschrott&quot;,
&quot;Eigetum ish Diebstahl&quot; &amp; natürlich &quot;Immer Wenn
Ich Ufstah&quot;</p>

<p>Denn hemmer irgendwo nu de {{lenny}} ufgabled, wo bi üs denn die
2. Gitarre gspilt hed.</p>

<p>Im August 2016, hemmer es Set zäme gha &amp; denn üse erscht uftritt
am Punker Picknick in Chur gha.</p>

<p>Sit denn hemmer immer meh Uftritt becho und a geile Ort chenne
umegüssle.</p>

<p>De {{titan}} hed ufgrund vo andere Projekt den d'band verlah und
de {{umpa}} isch als nüe Drummer dezue cho. Au hed nü de {{bottlee}}
die 2. Gitarre übernu anstatt de {{lenny}}</p>

<p>Dadurch das üs de {{ bazil }} nu öppedie mal mit sine krasse Gitarre
skillz usghulfe hed, hed er irgendwenn halt we au dezue ghört.</p>

</div>
