---
layout: default
title: "News"
has_menu_link: true
menu_link_height: 50%
menu_link_width: 50%
menu_link_top: 37%
menu_link_left: 0%
---

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}

<div class="home">

  <div class="upcoming-shows">
    <h1 class="post-title">Nechsti Uftritt</h1>
    <ul class="post-list" itemscope itemtype="http://schema.org/ItemList">
      {% assign noshows = true %}
      {% for post in site.categories.uftritt %}
        {% capture showdate %}{{post.show_date | date: '%s'}}{% endcapture %}
        {% if post.show_date %}
          {% capture showdate %}{{ showdate | plus: 86399 }}{% endcapture %}
          {% if showdate > nowunix %}
           {% assign noshows = false %}
           {% include show.html %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if noshows %}
        <p>
           Zur ziit sind ke shows hie akündigt, heisst abr nid das mr käni in zuekunft spilid.
           Villich hanis vergesse hie ufe ztue.
           Chasch ja mal bi <a href="https://www.facebook.com/guessl.band">facebook verbii luege...</a>
        </p>
      {% endif %}
    </ul>
  </div>

  <div class="past-shows">
    <h1 class="post-title">Vergangeni Uftritt</h1>
    <ul class="post-list" itemscope itemtype="http://schema.org/ItemList">
      {% for post in site.categories.uftritt %}
        {% capture showdate %}{{post.show_date | date: '%s'}}{% endcapture %}
        {% if post.show_date %}
          {% capture showdate %}{{ showdate | plus: 86399 }}{% endcapture %}
          {% if showdate <= nowunix %}
            {% include show.html %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="news">
    <h1 class="post-title">Niuws</h1>
    <ul class="post-list" itemscope itemtype="http://schema.org/ItemList">
      {% for post in site.posts %}
        {% if post.categories contains "uftritt" %}
        {% else %}
          {% include news-post.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <p class="rss-subscribe">Bstell mal <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
</div>
