---
layout: page
title: Musig
permalink: /musig/
has_menu_link: true
menu_link_image: /img/nav-musig.png
---

<p>Jaaaa mr mached voll de Grümpel-Punk mit schlechte Text &amp; so.</p>

<p>Hie isch mal so en Liste vo de meischte vo üsne songs; d'Text sind jewiils dezue verlinkt. Mr sind im moment dra s'erste album ufzneh. Isch nu nüd fix so und chad sich ändere.</p>


<div class="albums">
{% for album in site.data.albums %}
    <div class="album">
        <div class="album-header">
            <h3 class="album-name">
                <img class="album-cover" alt="{{ album[1].name }} Album Cover" src="{{ site.baseurl }}{{ album[1].cover | default: "{{ /img/cover-none-available.png" }}" />
                {% if album[1].logo %}
                    <img class="album-logo" alt="{{ album[1].name }}" src="{{ site.baseurl }}{{ album[1].logo}}?v=1" />
                {% endif %}
            </h3>
            <span class="album-year">({{ album[1].year }})</span>
            <div class="clear"></div>
        </div>
        <ol class="songlist">
        {% for song in site.songs %}
        {% if song.album == album[0] %}
            <li class="song">
                <a href="{{song.url}}" class="song-title">
                    {{ song.title }}
                    {% if song.artist %}
                        ({{ song.artist}} Cover)
                    {% endif %}
                </a>
                <span class="song-length">{{ song.length | default: "KU:RZ" }}</span>
            </li>
        {% endif %}
        {% endfor %}
        </ol>
    </div>
{% endfor %}
</div>
