<footer class="site-footer">

  <div class="wrapper">
  <div class="footer-content">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3>Kontakt</h3>
        <ul class="contact-list">
          <li><a href="https://www.facebook.com/guessl.band">facebook.com/guessl.band</a></li>
          <li><a href="mailto:{{ site.email | encode_email }}">guesl @t outlook döt köm</a></li>
          <li>{% if site.github_username %}
            {% include icon-github.html username=site.github_username repo="guezzlpage" %}
            {% endif %}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
          <p>{{ site.description }}</p>
          <p>Üs ghört alli musig &amp; Songtext etc. Mitem rescht chender mache was er wend. Copyright shizzl halt. Usser schriibfehler chender bhalte.</p>
          <p class="small">D'websiite isch s'letschmal nü generiert worde am: {{ site.time | date '%a, %b %d, %Y }}</p>
      </div>
    </div>

  </div>
  </div>

</footer>
