<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl}}/{{ site.logo | sample }}?v=4" />
    </a>

    <nav class="site-nav">
      <p><strong>Navigation</strong>:</p>
      <ul class="menu">
      {% for p in site.pages %}
        {% if p.title and p.autogen == nil and p.autopage == nil %}
          <li>
            <a href="{{ p.url | prepend: site.baseurl }}" name="{{ p.title }}">
              <img src="{{ p.menu_link_image | prepend: site.baseurl }}?v=1" class="hover-blur" alt=""/>
              <img src="{{ p.menu_link_image | prepend: site.baseurl }}?v=1" alt="{{ p.title }}" />
            </a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
