<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl}}/img/logo-01.png" />
    </a>

    <nav class="site-nav">
        <img src="{{ site.baseurl }}/img/nav2.png" width="550" height="336" usemap="#map" />
        <map name="map">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <area shape="poly" coords="{{ my_page.coords }}" alt="{{ my_page.title }}" href="{{ my_page.url | prepend: site.baseurl }}" />
          {% endif %}
        {% endfor %}
        </map>
      </div>
    </nav>

  </div>

</header>
