.band-members {
    margin: $spacing-unit;
    margin-top: 0;
    float: right;
    width: 300px;

    @include media-query($on-laptop) {
        width: 100%;
        float: none;
        .band-member {
            float: left;
            width: 300px;
        }
    }
    @extend %clearfix;

    .band-member {
         @extend %clearfix;

        .image-box {
            float : left;
            img {
                display: block;
                margin: auto;
            }
        }

        .band-member-meta {
            padding-top: $spacing-unit / 2;
            .band-member-name {
                display: block;
                font-size: 24px;
            }
            .band-member-role {
                display: block;
            }
            .band-member-description {
                margin-top: $spacing-unit / 2;
                display: block;
                font-size: $small-font-size;
            }
        }
    }

    .band-member:last-child {
        border-bottom: 0;
    }
}
