/**
 * Site header
 */
.site-header {
    min-height: 425px;
    background-image: url(#{$asset-path}/guezzleimer-header.png);
    background-repeat: no-repeat no-repeat; 
    background-position: bottom center;

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    @include media-query($on-palm) {
        background-size: 120% auto;
        padding-bottom: 10%;
        min-height: auto;
    }
}

.site-title {
    position: relative;
    display: inline-block;
    margin-top: 100px;
    margin-left: 15%;
    margin-bottom: 0;
    width: 45%;
    height: 200px;

    vertical-align: middle;
    text-align: center;

    img {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto;
    }

    @include media-query($on-laptop) {
    }
    @include media-query($on-palm) {
        display: block;
        max-width: 100%;
        margin: 0;
        margin-top: 10px;

        width: 100%;
        float: none;

        img {
            max-width: 100%;
            max-height: 100%;
            margin: auto auto;
        }
    }
}

.site-nav {
    display: block;
    float: right;
    width: 40%;
    margin-top: 50px;

    @include media-query($on-palm) {
        padding-left: 20%;
        padding-right: 5%;
        float: none;
        width: auto;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            max-width: 40%;
            margin: 0 2%;
            padding: 0;
            display: inline-block;

            a {
                display: block;
                transform: rotateX(-10deg) rotateY(10deg) rotateZ(-3deg);

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                img.hover-blur {
                    position: absolute;
                    display: none;
                }
                &:hover img.hover-blur {
                    display: inline-block;
                    filter: drop-shadow(5px 3px 2px #999)
                }

            }
        }

        @include media-query($on-palm) {
            li {
                max-width: 25%;
                margin: 0 3%;

                a {
                   transform: rotateX(-5deg) rotateY(5deg) rotateZ(-1deg);
                }
            }
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit * 3 0;
    background-image: url(#{$asset-path}/footer.png)
                    , url(#{$asset-path}/line-vertical-04.png)
                    , url(#{$asset-path}/line-vertical-03.png)
                    , url(#{$asset-path}/line-vertical-09.png)
                    , url(#{$asset-path}/line-vertical-10.png)
                    , url(#{$asset-path}/line-horizontal-02.png)
                    , url(#{$asset-path}/line-horizontal-04.png)
                    , url(#{$asset-path}/line-horizontal-03.png)
                    ;
    background-repeat: no-repeat no-repeat 
                     , no-repeat no-repeat 
                     , no-repeat no-repeat 
                     , no-repeat no-repeat 
                     , no-repeat no-repeat 
                     , no-repeat no-repeat 
                     ;

    background-position: top center
                       , -webkit-calc(50% - 400px) (-3 * $spacing-unit)
                       , -webkit-calc(50% - 400px) (-3 * $spacing-unit + 240)
                       , -webkit-calc(50% + 400px) (-3 * $spacing-unit)
                       , -webkit-calc(50% + 400px) (-3 * $spacing-unit + 240)
                       , -webkit-calc(50% - 270px) bottom
                       , center bottom
                       , -webkit-calc(50% + 270px) bottom
                       ;


    background-position: top center
                       , calc(50% - 400px) (-3 * $spacing-unit)
                       , calc(50% - 400px) (-3 * $spacing-unit + 240)
                       , calc(50% + 400px) (-3 * $spacing-unit)
                       , calc(50% + 400px) (-3 * $spacing-unit + 240)
                       , calc(50% - 270px) bottom
                       , center bottom
                       , calc(50% + 270px) bottom
                       ;

    & > .wrapper > .footer-content {
       margin-top: $spacing-unit;
       background-color: $alpha-bg-color;
       box-shadow: 0px 0px 30px 30px $alpha-bg-color;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    h3 {
        color: $text-color;
    }
    a {
    }
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    color: $grey-color;
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));

    a {
        color: lighten($brand-color, 15%);
        text-decoration: wavy underline;

        &:visited {
            color: $brand-color;
        }

        &:hover {
            color: $text-color;
            text-shadow: 0px 0px 10px $text-color;
        }
    }
}

@include media-query($on-laptop) {
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    margin-top: $spacing-unit * -1;
    padding: $spacing-unit * 3 0 0 0;

    background-image: url(#{$asset-path}/line-vertical-05.png)
                    , url(#{$asset-path}/line-vertical-11.png)
                    , url(#{$asset-path}/line-vertical-08.png)
                    , url(#{$asset-path}/line-vertical-02.png)
                    , url(#{$asset-path}/line-vertical-12.png)
                    , url(#{$asset-path}/line-vertical-11.png)
                    , url(#{$asset-path}/line-vertical-04.png)
                    , url(#{$asset-path}/line-vertical-07.png)
                    , url(#{$asset-path}/line-vertical-08.png)
                    , url(#{$asset-path}/line-vertical-03.png)
                    , url(#{$asset-path}/line-vertical-07.png)
                    , url(#{$asset-path}/line-vertical-04.png)
                    , url(#{$asset-path}/line-vertical-06.png)
                    , url(#{$asset-path}/line-vertical-02.png)
                    , url(#{$asset-path}/line-vertical-01.png)
                    , url(#{$asset-path}/line-vertical-09.png)
                    , url(#{$asset-path}/line-vertical-07.png)
                    , url(#{$asset-path}/line-vertical-04.png)
                    , url(#{$asset-path}/line-vertical-03.png)
                    , url(#{$asset-path}/line-vertical-05.png)
                    , url(#{$asset-path}/line-vertical-09.png)
                    , url(#{$asset-path}/line-vertical-06.png)
                    , url(#{$asset-path}/line-vertical-12.png)
                    , url(#{$asset-path}/line-vertical-11.png)
                    , url(#{$asset-path}/line-vertical-06.png)
                    , url(#{$asset-path}/line-vertical-03.png)
                    , url(#{$asset-path}/line-horizontal-03.png)
                    , url(#{$asset-path}/line-horizontal-02.png)
                    , url(#{$asset-path}/line-horizontal-01.png)
                    , url(#{$asset-path}/style-flame.png)
                    ;
    background-repeat: no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     ;
    background-position: -webkit-calc(50% - 400px) top
                       , -webkit-calc(50% - 400px) 260px
                       , -webkit-calc(50% - 400px) 520px
                       , -webkit-calc(50% - 400px) 760px
                       , -webkit-calc(50% - 400px) 1040px
                       , -webkit-calc(50% - 400px) 1300px
                       , -webkit-calc(50% - 400px) 1560px
                       , -webkit-calc(50% - 400px) 1820px
                       , -webkit-calc(50% - 400px) 2080px
                       , -webkit-calc(50% - 400px) 2340px
                       , -webkit-calc(50% - 400px) 2600px
                       , -webkit-calc(50% - 400px) 2860px
                       , -webkit-calc(50% - 400px) 3120px
                       , -webkit-calc(50% + 400px) top
                       , -webkit-calc(50% + 400px) 260px
                       , -webkit-calc(50% + 400px) 520px
                       , -webkit-calc(50% + 400px) 760px
                       , -webkit-calc(50% + 400px) 1040px
                       , -webkit-calc(50% + 400px) 1300px
                       , -webkit-calc(50% + 400px) 1560px
                       , -webkit-calc(50% + 400px) 1820px
                       , -webkit-calc(50% + 400px) 2080px
                       , -webkit-calc(50% + 400px) 2340px
                       , -webkit-calc(50% + 400px) 2600px
                       , -webkit-calc(50% + 400px) 2860px
                       , -webkit-calc(50% + 400px) 3120px
                       , -webkit-calc(50% - 240px) top
                       , center top
                       , -webkit-calc(50% + 240px) top
                       , -webkit-calc(50% - 240px) bottom
                       , center bottom
                       , -webkit-calc(50% + 240px) bottom
                       , right top
                       ;
    background-position: calc(50% - 400px) top
                       , calc(50% - 400px) 260px
                       , calc(50% - 400px) 520px
                       , calc(50% - 400px) 760px
                       , calc(50% - 400px) 1040px
                       , calc(50% - 400px) 1300px
                       , calc(50% - 400px) 1560px
                       , calc(50% - 400px) 1820px
                       , calc(50% - 400px) 2080px
                       , calc(50% - 400px) 2340px
                       , calc(50% - 400px) 2600px
                       , calc(50% - 400px) 2860px
                       , calc(50% - 400px) 3120px
                       , calc(50% + 400px) top
                       , calc(50% + 400px) 260px
                       , calc(50% + 400px) 520px
                       , calc(50% + 400px) 760px
                       , calc(50% + 400px) 1040px
                       , calc(50% + 400px) 1300px
                       , calc(50% + 400px) 1560px
                       , calc(50% + 400px) 1820px
                       , calc(50% + 400px) 2080px
                       , calc(50% + 400px) 2340px
                       , calc(50% + 400px) 2600px
                       , calc(50% + 400px) 2860px
                       , calc(50% + 400px) 3120px
                       , calc(50% - 240px) top
                       , center top
                       , calc(50% + 240px) top
                       , calc(50% - 240px) bottom
                       , center bottom
                       , calc(50% + 240px) bottom
                       , right top
                       ;
   & > .wrapper > *:first-child {
       background-color: $alpha-bg-color;
       box-shadow: 0px 0px 30px 30px $alpha-bg-color;
   }

    @include media-query($on-palm) {
        margin-top: 0;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-weight: 900;
    font-size: 42px;
    /* text-transform: uppercase; */
    text-align: center;
    letter-spacing: 3px;
    line-height: 1;
    padding-bottom: 35px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
    background-image: url(#{$asset-path}/line-horizontal-04.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    @extend %clearfix;
}

.image-box {
    background-image: url(#{$asset-path}/box-drawn.png);
    width: 100px;
    height: 100px;
    padding: $spacing-unit;
}

