/**
 * Site header
 */
.site-header {
    padding-top: 20px;
    min-height: 191px;
    background-image: url('../img/header.png');
    background-repeat: no-repeat no-repeat; 
    background-position: bottom center;

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    padding-bottom: 60px;
    @include media-query($on-palm) {
        padding-bottom: 100px;
    }
}

.site-title {
    display: block;
    margin-bottom: 0;
    float: left;
    @include media-query($on-laptop) {
        width: 50%;
    }
    @include media-query($on-palm) {
        margin-top: 10px;
        height: 191px;

        width: 100%;
        float: none;
        
        img {
            display: block;
            width: 350px;
            margin-left: auto;
            margin-right: auto;
        }
    }    
}

.site-nav {
    display: block;
    float: right;
    position: relative;
    width: 360px;

    height: 100%;
    padding-bottom: 30%;
    background-image: url(../img/nav2.png);
    background-repeat: no-repeat;
    background-size: 100% auto;

    &:hover {
        background-image: url(../img/nav2.png), url(../img/nav2_hover.png);
        background-repeat: no-repeat, no-repeat;
        background-size: 100% auto, 100% auto;
    }

    @include media-query($on-laptop) {
        width: 50%;
        float: right;
        margin: auto;
    }

    @include media-query($on-palm) {
        margin: auto;
        float: none;
        width: auto;
        padding-bottom: 55%;
    }

    ul {
        margin: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        list-style-type: none;
        li {
            position: absolute;
            a {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        } 
    }

    .hide {
        display: none;
    }
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit * 3 0;
    background-image: url('../img/footer.png')
                    , url('../img/line-vertical-02.png')
                    , url('../img/line-vertical-03.png')
                    , url('../img/line-vertical-09.png')
                    , url('../img/line-vertical-10.png')
                    , url('../img/line-horizontal-02.png')
                    , url('../img/line-horizontal-04.png')
                    , url('../img/line-horizontal-03.png')
                    ;
    background-repeat: no-repeat no-repeat 
                     , no-repeat no-repeat 
                     , no-repeat no-repeat 
                     , no-repeat no-repeat 
                     , no-repeat no-repeat 
                     , no-repeat no-repeat 
                     ;

    background-position: top center
                       , -webkit-calc(50% - 420px) (-3 * $spacing-unit)
                       , -webkit-calc(50% - 420px) (-3 * $spacing-unit + 260)
                       , -webkit-calc(50% + 420px) (-3 * $spacing-unit)
                       , -webkit-calc(50% + 420px) (-3 * $spacing-unit + 260)
                       , -webkit-calc(50% - 280px) bottom
                       , center bottom
                       , -webkit-calc(50% + 280px) bottom
                       ;


    background-position: top center
                       , calc(50% - 420px) (-3 * $spacing-unit)
                       , calc(50% - 420px) (-3 * $spacing-unit + 260)
                       , calc(50% + 420px) (-3 * $spacing-unit)
                       , calc(50% + 420px) (-3 * $spacing-unit + 260)
                       , calc(50% - 280px) bottom
                       , center bottom
                       , calc(50% + 280px) bottom
                       ;

    & > .wrapper > .footer-content {
       margin-top: $spacing-unit;
       background-color: $alpha-bg-color;
       box-shadow: 0px 0px 30px 30px $alpha-bg-color;
    }
}

.contact-list, {
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    h3 {
        color: $text-color;
    }
    a {
    }
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    color: $grey-color;
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit * 3 0 0 0;

    background-image: url('../img/line-vertical-05.png')
                    , url('../img/line-vertical-11.png')
                    , url('../img/line-vertical-08.png')
                    , url('../img/line-vertical-02.png')
                    , url('../img/line-vertical-12.png')
                    , url('../img/line-vertical-11.png')
                    , url('../img/line-vertical-04.png')
                    , url('../img/line-vertical-07.png')
                    , url('../img/line-vertical-08.png')
                    , url('../img/line-vertical-03.png')
                    , url('../img/line-vertical-07.png')
                    , url('../img/line-vertical-04.png')
                    , url('../img/line-vertical-06.png')
                    , url('../img/line-vertical-02.png')
                    , url('../img/line-vertical-01.png')
                    , url('../img/line-vertical-09.png')
                    , url('../img/line-vertical-07.png')
                    , url('../img/line-vertical-04.png')
                    , url('../img/line-vertical-03.png')
                    , url('../img/line-vertical-05.png')
                    , url('../img/line-vertical-09.png')
                    , url('../img/line-vertical-06.png')
                    , url('../img/line-vertical-12.png')
                    , url('../img/line-vertical-11.png')
                    , url('../img/line-vertical-06.png')
                    , url('../img/line-vertical-03.png')
                    , url('../img/line-horizontal-03.png')
                    , url('../img/line-horizontal-02.png')
                    , url('../img/line-horizontal-01.png')
                    , url('../img/style-flame.png')
                    ;
    background-repeat: no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     , no-repeat no-repeat
                     ;
    background-position: -webkit-calc(50% - 420px) top
                       , -webkit-calc(50% - 420px) 260px
                       , -webkit-calc(50% - 420px) 520px
                       , -webkit-calc(50% - 420px) 760px
                       , -webkit-calc(50% - 420px) 1040px
                       , -webkit-calc(50% - 420px) 1300px
                       , -webkit-calc(50% - 420px) 1560px
                       , -webkit-calc(50% - 420px) 1820px
                       , -webkit-calc(50% - 420px) 2080px
                       , -webkit-calc(50% - 420px) 2340px
                       , -webkit-calc(50% - 420px) 2600px
                       , -webkit-calc(50% - 420px) 2860px
                       , -webkit-calc(50% - 420px) 3120px
                       , -webkit-calc(50% + 420px) top
                       , -webkit-calc(50% + 420px) 260px
                       , -webkit-calc(50% + 420px) 520px
                       , -webkit-calc(50% + 420px) 760px
                       , -webkit-calc(50% + 420px) 1040px
                       , -webkit-calc(50% + 420px) 1300px
                       , -webkit-calc(50% + 420px) 1560px
                       , -webkit-calc(50% + 420px) 1820px
                       , -webkit-calc(50% + 420px) 2080px
                       , -webkit-calc(50% + 420px) 2340px
                       , -webkit-calc(50% + 420px) 2600px
                       , -webkit-calc(50% + 420px) 2860px
                       , -webkit-calc(50% + 420px) 3120px
                       , -webkit-calc(50% - 280px) top
                       , center top
                       , -webkit-calc(50% + 280px) top
                       , -webkit-calc(50% - 280px) bottom
                       , center bottom
                       , -webkit-calc(50% + 280px) bottom
                       , right top
                       ;  
    background-position: calc(50% - 420px) top
                       , calc(50% - 420px) 260px
                       , calc(50% - 420px) 520px
                       , calc(50% - 420px) 760px
                       , calc(50% - 420px) 1040px
                       , calc(50% - 420px) 1300px
                       , calc(50% - 420px) 1560px
                       , calc(50% - 420px) 1820px
                       , calc(50% - 420px) 2080px
                       , calc(50% - 420px) 2340px
                       , calc(50% - 420px) 2600px
                       , calc(50% - 420px) 2860px
                       , calc(50% - 420px) 3120px
                       , calc(50% + 420px) top
                       , calc(50% + 420px) 260px
                       , calc(50% + 420px) 520px
                       , calc(50% + 420px) 760px
                       , calc(50% + 420px) 1040px
                       , calc(50% + 420px) 1300px
                       , calc(50% + 420px) 1560px
                       , calc(50% + 420px) 1820px
                       , calc(50% + 420px) 2080px
                       , calc(50% + 420px) 2340px
                       , calc(50% + 420px) 2600px
                       , calc(50% + 420px) 2860px
                       , calc(50% + 420px) 3120px
                       , calc(50% - 280px) top
                       , center top
                       , calc(50% + 280px) top
                       , calc(50% - 280px) bottom
                       , center bottom
                       , calc(50% + 280px) bottom
                       , right top
                       ;
   & > .wrapper > *:first-child {
       background-color: $alpha-bg-color;
       box-shadow: 0px 0px 30px 30px $alpha-bg-color;
   }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-weight: 900;
    font-size: 42px;
    /* text-transform: uppercase; */
    text-align: center;
    letter-spacing: 3px;
    line-height: 1;
    padding-bottom: 40px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
    background-image: url(../img/line-horizontal-04.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    @extend %clearfix;
}

.image-box {
    background-image: url(../img/box-drawn.png);
    width: 100px;
    height: 100px;
    padding: $spacing-unit;
}
