.song {
    .song-images > img {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
        display: block;
        float: right;
        clear: right;
    }
}

.albums {
    .album {
        margin-top: $spacing-unit * 2;
        .album-header {
            margin-left: $spacing-unit;
            .album-name {
                font-weight: bold;
                font-size: 32px;
            }

            .album-year {
                font-size: 24px;
            }
        }
        .songlist {
            margin-top: $spacing-unit;
            width: 100%;
            max-width: 500px;

            li.song {
                border-bottom: 1px solid $grey-color;
                margin-top: $spacing-unit / 2;
                font-size: 20px;
                .song-length {
                    float: right;
                    display: inline-block;
                }
            }
        }
    }
}
