---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        Gschribe am 
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %}
            vom  
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ site.data.bandmembers[page.author].name }}</span>
            </span>
        {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="asoziali-medie">
    <div class="asoziali-medie-behaelter">
      <input id="asoziali-medie-aktiviere" type="checkbox" name="asoziali-medie-aktiviere" />
      <label for="asoziali-medie-aktiviere">Ahägle zum die asoziale netzwerk z'aktiviere</label>
    </div>
  </div>

  <div class="comment-form-wrapper">
      <h3 class="comment-form-title">Schriib doch irgend en {{ site.title | sample }}-Driischiss-Kommentar drundr... es würmi dochnu freuä ;)</h3>
      <form action="dynamic/comment.php" method="post">
          <input type="text" name="commenter_name" placeholder="Diin Name" />

          <input type="text" name="commenter_title" placeholder="Kommentar Titel" />
          <textarea name="comment" placeholder="Diin driischiss Kommentar ..."></textarea>

          <input type="submit" name="submit" text="Abschicke &amp; Drischiissä" />
      </form>
  </div>

  <div class="comments">
      {% for comment in site.comments %}
      {% if comment.post_id == page.id %}
      <article class="comment">
          <p class="comment-meta">
          De <strong class="comment-author">{{ comment.author }}</strong>
          hed am <span class="comment-date">{{ comment.date | date: "%b %-d, %Y" }}</span> gschribe ... 
          </p>
          <h1>{{ comment.title }}</h1>
          <p class="comment-content">
            {{ comment.content }}
          </p>
      </article>
      {% endif %}
      {% else %}
      <div class="no-comments">
          Ja alter, da heds nu kei kommentär. Schriib doch selber eine, wenns besser chasch.
      </div>
      {% endfor %}
  </div>

</article>
