---
layout: default
---

<article class="song" itemscope itemtype="http://schema.org/MusicRecording">
    <header class="song-header">
        <h1 class="post-title song-title" itemprop="name">
            <span itemprop="byArtist" itemscope itemtype="http://schema.org/MusicGroup">
                {% if page.artist %}
                    Cover: {{ page.artist }}
                {% else %}
                    {{ site.title | sample }}
                {% endif %}
            </span> -
            {{ page.title }}</h1>
        <p class="post-meta song-meta">
            Gschribe im Jahr <span>{{ page.year }}</span>,
            Author: 
            <span itemprop="lyricist author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">
                    {{ site.data.bandmembers[page.author].name | default: page.author }}
                </span>
            </span>
        </p>
    </header>
    <div class="song-lyrics" itemprop="lyrics">
        {% if page.big_images %}
            <div class="song-images-big">
                {% for image in page.big_images %}
                    <figure class="song-image">
                        <img class="song-image" src="{{ image | relative_url }}" />
                    </figure>
                {% endfor %}
            </div>
        {% endif %}
        {% if page.images %}
            <div class="song-images">
                {% for image in page.images %}
                    <figure class="song-image">
                        <img class="song-image" src="{{ image | relative_url }}" />
                    </figure>
                {% endfor %}
            </div>
        {% endif %}
        {{ content }}
        <div class="clear" />
    </div>
</article>
