---
layout: default
---

<article class="zine">
    <header class="zine-header">
        <h1 class="post-title zine-title">{{ page.title }}</h1>

        <h4>Infos</h4>
        <ul class="zine-meta">
          <li class="meta-attr"><strong>Author</strong>: {{ site.data.bandmstrongbers[page.author].name | default: page.author }}</li>
          <li class="meta-attr"><strong>Siite</strong>: {{ page.num_pages }}</li>
          <li class="meta-attr"><strong>Datum</strong>: {{ page.date | date: "%b %-d, %Y"}}</li>
        </ul>
    </header>

    <h2>Beschriibig</h2>
    <div class="zine-description">
        {% if page.cover_image != blank %}
            <figure class="front-cover zine-image">
                <img class="zine-image" src="{{ page.cover_image | relative_url }}" />
            </figure>
        {% endif %}

        {% if page.backcover_image != blank %}
            <figure class="back-cover zine-image">
                <img class="zine-image" src="{{ page.backcover_image | relative_url }}" />
            </figure>
        {% endif %}

        <div class="clear" />

        {% if page.fullcover_image != blank %}
            <figure class="back-cover zine-image">
                <img class="zine-image" src="{{ page.fullcover_image | relative_url }}" />
            </figure>
        {% endif %}

        <div class="clear" />

        {{ content }}
        <div class="clear" />
    </div>
</article>
